*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

html {
    width: 100%;
    height: 100%;
    font-size: calc(1vh + 1vw);
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    color: #000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #F7F8F7;
  font-size: calc(1.5vh + 1.5vw);
}

.fa-terminal,
.fa-ellipsis-vertical,
.header .button {
  display: none;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5em;
}

a { 
  text-decoration: none;
  color: inherit;
}

.offer-container,
.products {
  height: 100vh;
  padding: 5em;
  background-color: #F7F8F7;
  font-size: calc(2vh + 2vw);
  text-align: center;
}

.offer-container h2 {
  margin-bottom: 3rem;
}

.offer-container p {
  font-size: calc(1.4vh + 1.4vw);
} 

.offer {
  border: 0.5px solid black;
  padding: 0.3em;
  margin-top: 1rem;
}

.buy-get {
  color: #AD3745;

}

img {
  width: 50%;
  object-fit: cover;
  margin: 1rem;
}

.product-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-container p {
  margin: 0 5rem 1rem 5rem;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #F7F8F7;
  padding: 1em;
  gap: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #242EA9; /* Matching theme color */
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #242EA1; 
}

@media (min-width: 768px) {
  .header .button, .fa-terminal, .fa-ellipsis-vertical {
      display: flex;
  }
}

@media (min-width: 1024px) {
  .header .button, .fa-terminal, .fa-ellipsis-vertical {
      display: flex;
  }
}
